body {
    margin: 0;
    color: #EEEEEE;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
    border-style: outset;
    border-width: 3px;
    border-color: #398AB9;
    margin: 0;
}

h1 {
    color: #D8D2CB;
    margin: 0 auto;
    font-family: 'Niconne', cursive;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

.top-container {
    background-color: #1C658C;
    margin: 0;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: #398AB9;
    margin: 0;
}

.bottom-container {
    background-color: #1C658C;
    margin: 0;
}

.top-cloud {
    position: relative;
    left: 300px;
    top: 50px;
}

.bottom-cloud {
    position: relative;
    right: 300px;
    top: 50px;
}
