/* Colors
#EEEEEE
#398AB9
#1C658C
#D8D2CB
*/

body {
    margin: 0;
    color: #000000;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
    border-style: outset;
    border-width: 3px;
    border-color: #398AB9;
    margin: 0;
}

h1 {
    color: #1C658C;
    font-size: 5rem;
    margin: 50px auto 0 auto;
    line-height: 2;
    font-family: 'Niconne', cursive;
}

h2 {
    color: #1C658C;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 20px;
}

h3 {
    color: #398AB9;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 10px;
}

p {
    line-height: 2;
}

.top-container {
    background-color: #D8D2CB;
    margin: 0;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.middle-container {
    background-color: #EEEEEE;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 100px
}

.bottom-container {
    background-color: #D8D2CB;
    padding: 50px 0;
}

.top-cloud {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 100px;
    position: relative;
    left: 300px;
    top: 50px;
}

.bottom-cloud {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 100px;
    position: relative;
    right: 250px;
    bottom: 0px;
}

.skill-image {
    /*float: left;*/
    height: 250px; 
    width: 250px;
    text-align: left; 
    /*max-width: 300px; 
    max-height: 300px;
    margin-right: 50px;*/
    margin-top: 50px;
}

.profile {
    width: 50%;
    margin: auto;
}

.contact-me {
    width: 80%;
    margin: 100px auto;
    padding-top: 50px;
}

.skill-row {
    width: 80%;
    margin: 100px auto;
    /*text-align: left;*/
}

.skill-text {
    float:right;
    margin: 50px 50px 50px 50px;
    text-align: left;
}

.btn {
    border-radius: 8px;
    color: #EEEEEE;
    font-size: 20px;
    background: #1C658C;
    padding: 10px 20px 10px 20px;
    border: solid #D8D2CB 1px;
    text-decoration: none;
}
  
.btn:hover {
    background: #398AB9;
    text-decoration: none;
}

.footer-link {
      color: #1C658C;
      padding: 50px;
      text-decoration: none;
}

.footer-link:hover {
      color: #398AB9;  
}
