div {
    background-color: #1C658C; 
}

body {
    margin: 0;
    color: #EEEEEE;
}

hr {
    border-style: outset;
    border-width: 3px;
    border-color: #398AB9;
}

h1 {
    color: #D8D2CB;
    margin: 0;
}
